<!-- <main>
    <section>
        <div class="container">
            <div class="form">
                <form [formGroup]="formProducto">
                    <p class="heading">{{title}}</p>
                    <div class="inputContainer">
                        <label class="" for="productonombre">Nombre</label>
                        <input formControlName="productonombre" type="text" class="input" id="productonombre" required
                            placeholder="Producto">
                    </div>
                    <div class="inputContainer">
                        <label class="" for="productodescripcion">Descripción</label>
                        <input formControlName="productodescripcion" type="text" class="input" id="productodescripcion" required
                            placeholder="Descripción del producto">
                    </div>
                    <div class="inputContainer">
                        <label class="" for="productoprecio">Precio</label>
                        <input formControlName="productoprecio" type="number" class="input" id="productoprecio"
                            placeholder="Precio">
                    </div>
                    <div class="inputContainer">
                        <label class="" for="productocategoria">Categoria</label>
                        <select id="productocategoria" name="productocategoria" required>
                            <option value="Electrónica">Electrónica</option>
                            <option value="Ropa">Ropa</option>
                            <option value="Hogar">Hogar</option>
                            <option value="Libros">Libros</option>
                            <option value="Otros">Otros</option>
                          </select>
                                          <input formControlName="productocategoria" type="text" class="input" id="productocategoria"
                            placeholder="Categoria">
                    </div>
                    <div class="inputContainer">
                        <label class="" for="sourceProducto">Fuente</label>
                        <input formControlName="sourceProducto" type="text" class="input" id="sourceProducto"
                            placeholder="Fuente de la información">
                    </div>
                    <div class="inputContainer">
                        <label class="" for="productostock">Casos</label>
                        <input formControlName="productostock" type="number" class="input" id="productostock"
                            placeholder="Stock">
                    </div>
                -->                    
                    <!-- botones -->
                    <!-- <div class="card_button">
                        <p class="button">
                            <button [disabled]="formProducto.invalid" [ngClass]="{'invalid': formProducto.invalid}"
                                (click)="save()">{{btnText}}</button>
                        </p>
                        <button class="button_secundary" (click)="cancelar()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>  -->